################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/NedoMinecraft/FileContentIndex
/Library
/Assets/Alstra Infinite
/Temp
